:root {
    --primary-color: #003366; /* Основний синій */
    --accent-color: #FFFFFF; /* Білий акцент */
    --secondary-color: #000000; /* Чорний допоміжний */
    --button-color: #FFD700; /* Жовтий для кнопок */
}